<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Student</title>  
</head>  
<body>  
    <h2>Student Information</h2>   
    <form action = "/savedetails" method="post">  
    <table>  
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>Enrollment No.</td><td><input type="text" name="enroll"></td></tr>  
        <tr><td>Branch</td><td><input type="text" name="branch"></td></tr>  
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html> 